@import "tailwindcss";


@font-face {
  font-family: 'dana';

  src: url('../public/font/DANA-FANUM-MEDIUM.TTF');
}
@font-face {
  font-family: 'danalight';
  src: url('../public/font/DANA-FANUM-LIGHT.TTF');

}


:root {
  --background: hwb(0 100% 0%);
  --foreground: red;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e6e9f1;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  
}

* {
  font-family: 'danalight';
}
